body {
    height: 500px;
    width: 900px; /*ES EL ÚNICO MARGEN QUE SE AJUSTA CON LOS PARÁMETROS DEL TEXTO*/
    font-family:'Lucida Sans Unicode';
}

header  {
    text-align: center;
}

#green  {
    color: rgb(11, 148, 11);
}

#salmon {
    color: sandybrown;
}

/* CON LA ETIQUETA ASIDE Y EL ATRIBUTO "float" UBICAMOS EL ASIDE JUSTO EN EL ESPACIO QUE DESEEMOS*/
aside   {
    width: auto;
    padding-left: 10px;
    margin-right: 30px;
    float: left;
}

ul  {
    list-style-type: none;  /* ATRIBUTO QUE ELIMINA LA LISTA */
    text-align: center;
}

/* LOS ATRIBUTOS A APLICAR PARA EJERCER EL EFECTO DEL BUTTON SE DEBEN DE APLICAR A LA LISTA */
li  {
    margin: 5px;
    border: solid 2px white; /*ES LO QUE QUENERA LA SEPARACIÓN DE LA LISTA*/
    background-color: rgb(45, 211, 45);
    padding-left: 15px;
    padding-right: 15px;
}

li a    {
    display: inline-block;
    text-decoration: none; /*ELIMINA EL SUBRALLADO DE los links */
    margin: 5px;
    color: black;
}

li :hover  { /*ATRIBUTO QUE REALIZA LA ACCION DEL COLOR CUANDO SE DESPLAZA POR ENCIMA DEL ELEMENTO*/
    background-color: sandybrown;
}

.active  li   {
    background-color: sandybrown;
}

section     {
    border: solid 1px rgb(189, 186, 186);
    margin-left: 200px;
    padding: 20px;
}

h2  {
    color: rgb(9, 207, 9);
    border-bottom: solid 1px rgb(189, 186, 186);
}

h3  {
    color: sandybrown;
}