body    {
    margin: auto 0px;
}

main {
    margin: 20%;
    background-color: aquamarine;
    position: absolute;
    border-radius: 15px;
    align-items: center;
}

p{
    font-family: Courier;
    font-size: 45px;
    text-align: center;
}

.container  {
    display: flex;
    flex-direction: row;
    
}

.container > div {
    width: 200px;
    height: 150px;
    background-color: black;
    margin: 10px;
    color: yellowgreen;
    text-align: center;
    font-size: 85px;
    line-height: 150px;
    border-radius: 15px;
}


